<!DOCTYPE html>
<html layout:decorate="~{layouts/layoutLoggedIn}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://ultraq.github.io/thymeleaf-layout-dialect">
<head>
</head>
<body>
<section  layout:fragment="content"class="container">
    <h3 th:text="#{project.create}" class="mt-4 mb-5 d-flex justify-content-center"></h3>
    <form th:action="@{/project/save}" th:object="${project}" method="post">
        <div class="row">
            <div class="mb-3">
                <div>
                    <label for="name" th:text="#{project.name}"></label>
                </div>
                <div>
                    <input id="name"
                           type="text"
                           th:field="*{name}"
                           th:placeholder="#{project.name}"
                           th:class="'form-control ' + ${#fields.hasErrors('name') ? 'is-invalid' : ''}">

                    <small class="text-danger"
                           th:if="${#fields.hasErrors('name')}"
                           th:errors="*{name}"></small>
                </div>
            </div>

            <div class="mb-3">
                <div>
                    <label for="code" th:text="#{project.cod}"></label>
                </div>
                <div>
                    <input id="code"
                           type="text"
                           th:field="*{code}"
                           th:placeholder="#{project.cod}"
                           th:class="'form-control ' + ${#fields.hasErrors('code') ? 'is-invalid' : ''}">

                    <small class="text-danger"
                           th:if="${#fields.hasErrors('code')}"
                           th:errors="*{code}"></small>
                </div>
            </div>
            <div class="mb-3">
                <div>
                    <label for="description" th:text="#{project.description}"></label>
                </div>
                <div>
                    <input id="description"
                           type="text"
                           th:field="*{description}"
                           th:placeholder="#{project.description}"
                           th:class="'form-control ' + ${#fields.hasErrors('description') ? 'is-invalid' : ''}">

                    <small class="text-danger"
                           th:if="${#fields.hasErrors('description')}"
                           th:errors="*{description}"></small>
                </div>
            </div>

        </div>

        <div>
            <button type="submit" class=" btn btn-primary" th:text="#{common.save}"></button>
            <a th:href="@{'/project/'}"
               th:text="#{common.cancel}"
               class="btn btn-primary"></a>
        </div>
    </form>
</section>
</body>
</html>