<!DOCTYPE html>
<html layout:decorate="~{layouts/layoutLoggedInIssue}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://ultraq.github.io/thymeleaf-layout-dialect">
<head>
</head>
<body>
<section layout:fragment="content" class="container">
    <h2 th:text="#{project.update}" class=" mt-4 mb-5 d-flex justify-content-center">AKTUALIZACJA PROJEKTU</h2>
    <div class="row">
        <div class="col-md-6">
            <form  th:action="@{/project/update/{id}(id=${project.id})}" th:object="${project}" method="post">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="name" class="col-form-label" th:text="#{project.name}">Nazwa</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name" th:placeholder="#{project.name}">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="code" class="col-form-label" th:text="#{project.cod}">Kod</label>
                        <input type="text" th:field="*{code}" class="form-control" id="code" th:placeholder="#{project.cod}">
                        <span th:if="${#fields.hasErrors('code')}" th:errors="*{code}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="description" class="col-form-label" th:text="#{project.description}">Opis</label>
                        <input type="text" th:field="*{description}" class="form-control" id="description" th:placeholder="#{project.description}">
                        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" th:value="#{update.applyChange}">
                        <a th:href="@{'/project/'}"
                           th:text="#{update.cancel}"
                           class="btn btn-primary"></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>