<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="d-flex navbar-nav mr-auto">
            <li th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECT'')')}" class="nav-item p-2" >
                <a  th:href="@{'/issue/'}" th:text="#{main.issues}" class="btn btn-default" ></a>
            </li>
            <li th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECT'')')}" class="nav-item p-2">
                <a  th:href="@{'/project/'}" th:text="#{main.projects}" class="btn btn-default"></a>
            </li>
            <li th:if="${#authorization.expression('hasRole(''ROLE_USERS_TAB'')')}" class="nav-item p-2">
                <a  th:href="@{'/people/'}" th:text="#{main.users}" class="btn btn-default"></a>
            </li>
            <li th:if="${#authorization.expression('hasRole(''ROLE_USERS_TAB'')')}" class="nav-item p-2">
                <a  th:href="@{'/people/user_home'}" th:text="#{main.account}" class="btn btn-default"></a>
            </li>
            <form th:action="@{/logout}" method="post" class="ml-auto p-2 form-inline">
                <input type="submit" th:value="#{login.logout}" class="btn btn-secondary"/>
            </form>

        </ul>

    </div>
</nav>


</body>
</html>