<!DOCTYPE html>
<html layout:decorate="~{layouts/layoutLoggedIn}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://ultraq.github.io/thymeleaf-layout-dialect">
<head>
</head>
<body>
<section layout:fragment="content" class="container">
    <h3 th:text="#{people.create}" class="mt-4 mb-5 d-flex justify-content-center"></h3>

    <form th:action="@{/people/save}" th:object="${person}" method="post">
        <div class="row">
            <div class="mb-3">
                <div>
                    <label for="username" th:text="#{people.username}"></label>
                    <div>
                        <input id="username"
                               type="text"
                               th:field="*{username}"
                               th:placeholder="#{people.username}"
                               th:class="'form-control ' + ${#fields.hasErrors('username') ? 'is-invalid' : ''}">

                        <small class="text-danger"
                               th:if="${#fields.hasErrors('username')}"
                               th:errors="*{username}"></small>

                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div>
                    <label for="name" th:text="#{people.name}"></label>
                </div>
                <div>
                    <input id="name"
                           type="text"
                           th:field="*{name}"
                           th:placeholder="#{people.name}"
                           th:class="'form-control ' + ${#fields.hasErrors('name') ? 'is-invalid' : ''}">

                    <small class="text-danger"
                           th:if="${#fields.hasErrors('name')}"
                           th:errors="*{name}"></small>
                </div>
            </div>
            <div class="mb-3">
                <div>
                    <label for="mail" th:text="#{people.email}"></label>
                </div>
                <div>
                    <input id="mail"
                           type="text"
                           th:field="*{mail}"
                           th:placeholder="#{people.email}"
                           th:class="'form-control ' + ${#fields.hasErrors('mail') ? 'is-invalid' : ''}">

                    <small class="text-danger"
                           th:if="${#fields.hasErrors('mail')}"
                           th:errors="*{mail}"></small>
                </div>
            </div>
            <div class="mb-3">
                <div>
                    <label for="phone" th:text="#{people.phone}"></label>
                </div>
                <div>
                    <input id="phone"
                           type="number"
                           th:field="*{phone}"
                           th:placeholder="#{people.phone}"
                           th:class="'form-control ' + ${#fields.hasErrors('phone') ? 'is-invalid' : ''}">

                    <small class="text-danger"
                           th:if="${#fields.hasErrors('phone')}"
                           th:errors="*{phone}"></small>
                </div>
            </div>

            <div class="mb-3">
                <div>
                    <label for="password" th:text="#{people.password}"></label>
                </div>
                <div>
                    <input id="password"
                           type="password"
                           th:field="*{password}"
                           th:placeholder="#{people.password}"
                           th:class="'form-control ' + ${#fields.hasErrors('password') ? 'is-invalid' : ''}">

                    <small class="text-danger"
                           th:if="${#fields.hasErrors('password')}"
                           th:errors="*{password}"></small>
                </div>
            </div>
            <div class="mb-3">
                <div>
                    <label for="password" th:text="#{people.repPassword}"></label>
                </div>
                <div>
                    <input id="repeatedPassword"
                           type="password"
                           th:field="*{repeatedPassword}"
                           th:placeholder="#{people.repPassword}"
                           class="form-control"/>
                </div>
            </div>
            <div >
                <h2>Uprawnienia</h2>
                <p th:each="authority: ${authorities}">
                    <input type="checkbox"
                           name="authorities"
                           th:value="${authority.id}"
                           th:field="*{authorities}">

                    <label th:text="#{${'authorities.' + authority.name}}"
                           th:for="${#ids.prev('authorities')}">

                    </label>
                </p>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary" th:text="#{common.save}"></button>
            <a th:href="@{'/people/'}"
               th:text="#{common.cancel}"
               class="btn btn-primary"></a>
        </div>
    </form>
</section>
</body>
</html>