<!DOCTYPE html>
<html layout:decorate="~{layouts/layoutLoggedIn}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://ultraq.github.io/thymeleaf-layout-dialect">
<head>
</head>
<body>
<section layout:fragment="content" class="container">
    <h3 th:text="#{nav.people}" class="mt-4 mb-5 d-flex justify-content-center"></h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th th:text="#{people.username}"></th>
            <th th:text="#{people.name}"></th>
            <th th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_USER'')')}" th:text="#{common.edit}"></th>
            <th th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_USER'')')}" th:text="#{common.delete}"></th>
        </tr>
        </thead>
        <tr th:each="person : ${people}">

            <td th:text="${person.username}"></td>
            <td th:text="${person.name}"></td>
            <td th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_USER'')')}">
                <a th:href="@{/people/edit/{id}(id=${person.id})}" class="btn btn-primary"><i
                    class="fas fa-user-edit ml-2"></i></a></td>
            <td th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_USER'')')}">
                <a th:href="@{/people/delete/{id}(id=${person.id})}" class="btn btn-danger"><i
                    class="fas fa-user-times ml-2"></i></a></td>
        </tr>
    </table>

    <div>
        <a th:href="@{'/people/create/'}"
           th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_USER'')')}"
           th:text="#{common.add}"
           class="btn btn-primary"></a>

<!--        <a th:href="@{'/'}"-->
<!--           th:text="Wróć"-->
<!--           class="btn btn-primary"></a>-->

    </div>
</section>
</body>
</html>