<!DOCTYPE html>
<html layout:decorate="~{layouts/layoutLoggedIn}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://ultraq.github.io/thymeleaf-layout-dialect">
<head>
</head>
<body>
<section layout:fragment="content" class="container">
    <h3 th:text="#{pople.passwordUpdate}" class="mt-4 mb-5 d-flex justify-content-center"></h3>

    <form th:action="@{/people/updatePassword/{id}(id=${passwordForm.id})}" th:object="${passwordForm}" method="post">
        <div class="row">
            <div class="mb-3">
                <div>
                    <label for="password" th:text="#{people.password}">Hasło</label>
                    <div>
                        <input id="password"
                               type="text"
                               th:field="*{password}"
                               th:placeholder="#{people.password}"
                               th:class="'form-control ' + ${#fields.hasErrors('password') ? 'is-invalid' : ''}">

                        <small class="text-danger"
                               th:if="${#fields.hasErrors('password')}"
                               th:errors="*{password}"></small>

                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div>
                    <label for="passwordAgain" th:text="#{people.repPassword}" >Powtórz hasło</label>
                </div>
                <div>
                    <input id="passwordAgain"
                           type="text"
                           th:field="*{passwordAgain}"
                           th:placeholder="#{people.repPassword}"
                           th:class="'form-control ' + ${#fields.hasErrors('passwordAgain') ? 'is-invalid' : ''}">

                    <small class="text-danger"
                           th:if="${#fields.hasErrors('passwordAgain')}"
                           th:errors="*{passwordAgain}"></small>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" th:text="#{common.save}"></button>
                <a th:href="@{/people/edit/{id}(id=${passwordForm.id})}"
                   th:text="#{common.cancel}"
                   class="btn btn-primary"></a>
            </div>
        </div>
    </form>
</section>
</body>
</html>