<!DOCTYPE html>
<<html layout:decorate="~{layouts/layoutLoggedIn}"
       lang="en"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="https://ultraq.github.io/thymeleaf-layout-dialect">
<head>
</head>
<body>
<section layout:fragment="content" class="container">
    <h2 class="mb-5">Update User</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/people/update/{id}(id=${personForm.id})}" th:object="${personForm}" method="post">
                <div class="row">

                    <div class="form-group mb-3">
                        <label for="username">Login</label>
                        <div>
                            <input type="text" th:field="*{username}" class="form-control" id="username"
                                   placeholder="Username"/>
                            <span class="text-danger" th:if="${#fields.hasErrors('username')}"
                                  th:errors="*{username}"></span>
                        </div>
                    </div>


                    <div class="mb-3">
                        <div>
                            <label for="name">Imię i nazwisko</label>
                        </div>
                        <div>
                            <input id="name"
                                   type="text"
                                   th:field="*{name}"
                                   placeholder="Imię i nazwisko"
                                   th:class="'form-control ' + ${#fields.hasErrors('name') ? 'is-invalid' : ''}">

                            <small class="text-danger"
                                   th:if="${#fields.hasErrors('name')}"
                                   th:errors="*{name}"></small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div>
                            <label for="mail">Email</label>
                        </div>
                        <div>
                            <input id="mail"
                                   type="text"
                                   th:field="*{mail}"
                                   placeholder="Email"
                                   th:class="'form-control ' + ${#fields.hasErrors('mail') ? 'is-invalid' : ''}">

                            <small class="text-danger"
                                   th:if="${#fields.hasErrors('mail')}"
                                   th:errors="*{mail}"></small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div>
                            <label for="phone">Numer telefonu</label>
                        </div>
                        <div>
                            <input id="phone"
                                   type="number"
                                   th:field="*{phone}"
                                   placeholder="Numer telefonu"
                                   th:class="'form-control ' + ${#fields.hasErrors('phone') ? 'is-invalid' : ''}">

                            <small class="text-danger"
                                   th:if="${#fields.hasErrors('phone')}"
                                   th:errors="*{phone}"></small>
                        </div>
                    </div>

<!--                    <div class="mb-3">-->
<!--                        <div>-->
<!--                            <label for="password">Hasło</label>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <input id="password"-->
<!--                                   type="password"-->
<!--                                   th:field="*{password}"-->
<!--                                   placeholder="Hasło"-->
<!--                                   th:class="'form-control ' + ${#fields.hasErrors('password') ? 'is-invalid' : ''}">-->

<!--                            <small class="text-danger"-->
<!--                                   th:if="${#fields.hasErrors('password')}"-->
<!--                                   th:errors="*{password}"></small>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="mb-3">-->
<!--                        <div>-->
<!--                            <label for="password">Powtórz hasło</label>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <input id="repeatedPassword"-->
<!--                                   type="password"-->
<!--                                   th:field="*{repeatedPassword}"-->
<!--                                   placeholder="powtórz hasło"-->
<!--                                   class="form-control"/>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div >
                        <h2>Uprawnienia</h2>
                        <p th:each="author: ${authorities}">
                            <input type="checkbox"
                                   name="authorities"
                                   th:value="${author.id}"
                                   th:field="*{author}">

                            <label th:text="#{${'authorities.' + author.name}}"
                                   th:for="${#ids.prev('authorities')}">

                            </label>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mt-2">
                        <input type="submit" class="btn btn-primary" value="Zaktualizuj">
                        <a th:href="@{'/people/'}"
                           th:text="Wróć"
                           class="btn btn-primary"></a>
                    </div>

                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>