<!DOCTYPE html>
<html layout:decorate="~{layouts/layoutLoggedIn}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://ultraq.github.io/thymeleaf-layout-dialect">
<head>
</head>
<body>
<section layout:fragment="content" class="container">
    <h3 th:text="#{nav.loggedUser}" class="mt-4 mb-5 d-flex justify-content-center"></h3>

    <form th:object="${person}">
        <div class="row-cols-1">
            <div class="mb-3">
                <div>
                    <label for="username"
                           class="form-label"
                           th:text="#{people.username}"></label>
                </div>
                <div>
                    <input id="username"
                           type="text"
                           th:field="*{username}"
                           class="form-control"
                           disabled/>
                </div>
            </div>
            <div class="mb-3">
                <div>
                    <label for="name"
                           class="form-label"
                           th:text="#{people.name}"></label>
                </div>
                <div>
                    <input id="name"
                           type="text"
                           th:field="*{name}"
                           class="form-control"
                           disabled/>
                </div>
            </div>
            <div class="mb-3">
                <div>
                    <label for="name"
                           class="form-label"
                           th:text="#{people.email}"></label>
                </div>
                <div>
                    <input id="email"
                           type="text"
                           th:field="*{mail}"
                           class="form-control"
                           disabled/>
                </div>
            </div>
            <div >
                <h2>Uprawnienia</h2>
                <p th:each="authority: ${authorities}">
                    <input type="checkbox"
                           name="authorities"
                           th:value="${authority.id}"
                           th:field="*{authorities}"
                    disabled>

                    <label th:text="#{${'authorities.' + authority.name}}"
                           th:for="${#ids.prev('authorities')}">

                    </label>
                </p>
            </div>
        </div>
        <div class="inner pull-right">
            <a class="btn btn-secondary"
               th:href="@{'/'}"
               th:text="#{common.cancel}"></a>
            <a class="btn btn-success"
               th:text="#{common.edit}"
               th:href="@{edit/{id}(id=${person.id})}"></a>
        </div>
    </form>
</section>
</body>
</html>