<!DOCTYPE html>
<html layout:decorate="~{layouts/layoutLoggedInIssue}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://ultraq.github.io/thymeleaf-layout-dialect">
<head>
</head>
<body>

<section layout:fragment="content" class="container">
    <h3 th:text="#{nav.issues}" class="mt-4 mb-5 d-flex justify-content-center"></h3>

    <form th:action="@{/issue/}" th:object="${filter}"
          class="form-inline mb-3">

        <select th:field="*{project}"
                class="form-control"
                onchange="this.form.submit()">
            <option th:value="${null}" th:text="#{project.placeholder}">
            </option>
            <option th:each="project : ${projects}"
                    th:value="${project.id}"
                    th:text="${project.name}"></option>
        </select>

        <select th:field="*{assignee}"
                class="form-control ml-2"
                onchange="this.form.submit()">
            <option th:value="${null}" th:text="#{assignee.placeholder}"></option>
            <option th:each="person : ${people}"
                    th:value="${person.id}"
                    th:text="${person.name}"></option>
        </select>

        <select th:field="*{state}"
                class="form-control ml-2"
                onchange="this.form.submit()">
            <option th:value="${null}" th:text="#{state.placeholder}"></option>
            <option th:each="state : ${states}"
                    th:value="${state}"
                    th:text="${#messages.msg('state.' + state)}"></option>
        </select>
        <select th:field="*{type}"
                class="form-control ml-2"
                onchange="this.form.submit()">
            <option th:value="${null}" th:text="#{type.placeholder}"></option>
            <option th:each="type : ${types}"
                    th:value="${type}"
                    th:text="${#messages.msg('type.' + type)}"></option>
        </select>
        <a th:href="@{/issue/}" th:text="#{common.clear}" class="btn btn-default"></a>

        <a th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECT'')')}"
           th:href="@{'/issue/create'}"
           th:text="#{issue.newIssue}" class="btn btn-primary"></a>

    </form>
    <div th:each="issue : ${issues}">
        <div class="card">
            <p class="card-header" th:text="${issue.project.name}">
                <span th:text="${issue.title}"></span>
            </p>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h6 class="card-title" th:if="${issue.assignee != null}"
                            th:text=" 'Wykonawca:  ' + ${issue.assignee.name}"></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="card-text" th:text="${issue.content}"></p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col align-middle">
                        <span class="badge badge-primary" th:text="${#messages.msg('type.' + issue.type)}"></span>
                        <span class="badge badge-secondary"
                              th:text="${#messages.msg('priority.' + issue.priority)}"></span>
                        <span class="badge badge-success" th:text="${#messages.msg('state.' + issue.state)}"></span>
                    </div>
                </div>

                <div   class="row justify-content-end ">
                    <div class="col-2 ">

                        <a th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECT'')')} or ${issue.assignee.username} == ${logUser}"
                            th:href="@{/issue/edit/{id}(id=${issue.id})}" class="btn btn-primary">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECT'')')}"
                                th:href="@{/issue/delete/{id}(id=${issue.id})}" class="btn btn-danger"><i
                                class="fas fa-times "></i></a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
</body>
</html>
