<!DOCTYPE html>
<html layout:decorate="~{layouts/layoutLoggedInIssue}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://ultraq.github.io/thymeleaf-layout-dialect">
<head>
</head>
<body>
<section layout:fragment="content" class="container">
    <h2 class=" mt-4 mb-5 d-flex justify-content-center" th:text="#{issue.addIssue}">DODAWANIE ZGŁOSZENIA</h2>
    <form th:action="@{/issue/save}" th:object="${issue}" method="post" novalidate>
        <div class="form-row col-12">
            <div class="form-group col-md-3">
                <select th:field="*{project}" class="form-control" required >
                    <option selected disabled value="" th:text="#{project.placeholder}" ></option>
                    <option th:each="project : ${projects}"
                            th:value="${project.id}"
                            th:text="${project.name}"></option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid state.
                </div>
            </div>
            <div class="form-group col-md-9">
                <input id="title"
                       type="text"
                       th:field="*{title}"
                       th:placeholder="#{issue.title}"
                       th:class="'form-control ' + ${#fields.hasErrors('title') ? 'is-invalid' : ''}">

                <small class="text-danger"
                       th:if="${#fields.hasErrors('title')}"
                       th:errors="*{title}"></small>
            </div>
            <div class="form-group col-12">
                <textarea id="content"
                          type="text"
                          th:field="*{content}"
                          th:placeholder="#{issue.desc}"
                          rows="6"
                          th:class="'form-control ' + ${#fields.hasErrors('content') ? 'is-invalid' : ''}">
                </textarea>
                <small class="text-danger"
                       th:if="${#fields.hasErrors('content')}"
                       th:errors="*{content}"></small>
            </div>
        </div>
        <div class="form-row col-12">
            <div class="col-3">
                <p class="d-flex justify-content-center" th:text="#{issue.type}"></p>
                <select th:field="*{type}"
                        class="form-control">

                    <option disabled value="" th:text="#{type.placeholder}"></option>
                    <option th:each="type : ${types}"
                            th:value="${type}"
                            th:text="${#messages.msg('type.' + type)}"></option>
                </select>
            </div>
            <div class="col-3">
                <p class="d-flex justify-content-center" th:text="#{issue.priority}"></p>
                <select th:field="*{priority}"
                        class="form-control">

                    <option disabled value="" th:text="#{priority.placeholder}"></option>
                    <option th:each="priority : ${priorities}"
                            th:value="${priority}"
                            th:text="${#messages.msg('priority.' + priority)}"></option>
                </select>
            </div>
            <div class="col-3">
                <p class="d-flex justify-content-center" th:text="#{issue.contractor}">></p>
                <select th:field="*{assignee}"
                        th:class="'form-control ' + ${#fields.hasErrors('assignee') ? 'is-invalid' : ''}">

                    <small class="text-danger"
                           th:if="${#fields.hasErrors('assignee')}"
                           th:errors="*{assignee}"></small>

                    <option disabled value="" th:text="#{assignee.placeholder}"></option>
                    <option th:each="person : ${people}"
                            th:value="${person.id}"
                            th:text="${person.name}"></option>
                </select>
            </div>
            <div class="col-3">
                <p class="d-flex justify-content-center" th:text="#{issue.status}">Status</p>
                <select th:field="*{state}"
                        th:class="'form-control ' + ${#fields.hasErrors('state') ? 'is-invalid' : ''}">

                    <small class="text-danger"
                           th:if="${#fields.hasErrors('state')}"
                           th:errors="*{state}"></small>

                    <option disabled value="" th:text="#{state.placeholder}"></option>
                    <option th:each="state : ${states}"
                            th:value="${state}"
                            th:text="${#messages.msg('state.' + state)}"></option>
                </select>
            </div>
        </div>
        <div class="mt-4 d-grid gap-2">
            <button type="submit" class="btn btn-primary" th:text="#{common.save}"></button>
            <a th:href="@{'/issue/'}"
               th:text="#{common.cancel}"
               class="btn btn-primary"></a>
        </div>
    </form>
</section>
</body>
</html>